.intro__list {
  color: white;
  text-align: left;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 18px;
  max-width: 690px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", "Arial", "sans-serif";
}
