.lead__title {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  line-height: 100px;
  max-width: 720px;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 710px) {
  .lead__title {
    font-size: 50px;
    line-height: 54px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
