.footer__copyright {
  color: white;
  text-decoration: none;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.footer__copyright:hover {
  opacity: .8;
}
