.place__link {
  font-size: 18px;
  color: white;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-family: inter, Arial;
  transition: transform 0.3s ease-in-out;

}

.place__link:hover {
  transform: scale(1.04);
}
