.cover__overlay {
  background-color: #2a2c2f;
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.9s ease-in-out;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
